@font-face {
    font-family: goBoldItalic;
    src: url('../font/GoboldBoldItalic.ttf');
}
@font-face {
    font-family: goBoldLight;
    src: url('../font/GoboldLight.ttf');
}
@font-face {
	font-family: bmdohyeon;
	src: url('../font/BMDOHYEON_ttf.ttf');
}