
@font-face {
    font-family: goBoldItalic;
    src: url('../font/GoboldBoldItalic.ttf');
}
@font-face {
    font-family: goBoldLight;
    src: url('../font/GoboldLight.ttf');
}
@font-face {
  font-family: NSB;
  src: url('../font/NanumSquareBold.eot'); /* IE9 Compat Modes */
  src: url('../font/NanumSquareBold.woff') format('woff'), /* Modern Browsers */
       url('../font/NanumSquareBold.ttf') format('truetype');
}
@font-face {
  font-family: NSEB;
  src: url('../font/NanumSquareExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../font/NanumSquareExtraBold.woff') format('woff'), /* Modern Browsers */
       url('../font/NanumSquareExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: NSL;
  src: url('../font/NanumSquareRegular.eot'); /* IE9 Compat Modes */
  src: url('../font/NanumSquareLight.woff') format('woff'), /* Modern Browsers */
       url('../font/NanumSquareLight.ttf') format('truetype');
}
@font-face {
  font-family: 'NSR';
  src: url('../font/NanumSquareRegular.eot'); /* IE9 Compat Modes */
  src: url('../font/NanumSquareRegular.woff') format('woff'),/* Modern Browsers */
       url('../font/NanumSquareRegular.ttf') format('truetype');/* Safari, Android, iOS */
}
<link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
