.ai,
.app,
.hci,
.iot,
.web,
.ux,
.python,
.html5,
.css3,
.java,
.reactnative,
.sql,
.RW {
  position: relative;
}

.aiimage,
.appimage,
.hciimage,
.iotimage,
.webimage,
.uximage,
.pythonimage,
.html5image,
.css3image,
.javaimage,
.RNimage,
.sqlimage,
.RWimage {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 0;
  background-color: #000;
  opacity: 0.8;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.ai:hover .overlay {
  width: 90%;
}
.app:hover .overlay {
  width: 90%;
}
.hci:hover .overlay {
  width: 90%;
}
.iot:hover .overlay {
  width: 90%;
}
.web:hover .overlay{
  width: 90%;
}
.ux:hover .overlay{
  width: 90%;
}
.python:hover .overlay{
  width: 90%;
}
.html5:hover .overlay{
  width: 90%;
}
.css3:hover .overlay{
  width: 90%;
}
.java:hover .overlay{
  width: 90%;
}
.reactnative:hover .overlay{
  width: 90%;
}
.sql:hover .overlay{
  width: 90%;
}
.RW:hover .overlay{
  width: 90%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
