* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;

}
html, body,
.container{
   height: 100%;
   width: 100% !important;
   background-color: #EAEAEA;
   margin: 0 !important;
   line-height: 1.3;
}
#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.left-side{
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.left-inner{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 20px 20px 75px 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#mySidenav{
  font-family: NSEB;
  top: 40%;
  width:280px;
  height:260px;
  font-size: 20px;
  display:inline-block;
}
nav a.active{
  color: #002CB7;
}
.right-side{
  z-index: 55;
  position: absolute;
  min-height: 100%;
  right: 0;
  top: 0;
  left: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mainpage{
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 360px);
  min-height: 100% !important;
  padding-right: 40px;
}
.toppage{

}
.tpinner{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
.tpbody{
  text-align: center;
  height: 35vh;
}
#fontimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bodypage{
  margin-top: 100px;
  height: auto;
  width: auto;
  margin-bottom: 100px;
}
.bodyinner{
  padding: 0 60px;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 100% !important;
  background-color: #FAFAFA;
  text-align: center;
  border-radius: 15px;
}
.article{
  box-sizing: inherit;
  text-align: center;
  min-height: 100% !important;
  position: relative;
}
.indexPage{
  width: 100%;
  display: block;
  position: static !important;
  margin-top: 10%;
  text-align: center;
  font-family: NSB;
  font-size: 18px;
}
.indexPage p{
  margin-top: 5%;
}
.myMotto{
  display: block;
  width: 100%;
  font-family: 'Droid Serif', serif;
  font-size: 18px;
  color: #707070;
  position: static !important;
  margin-top: 10%;
}
.markTwain img{
  width: 70%;
}
.mottoLetter{
  display: block;
  margin-top: 5%;
}
.mottoLetter p{
  font-size: 20px;
}
.myInt{
  position: static;
  width: 90%;
  overflow: hidden;
  float: none !important;
}
.myimg img{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: static;
  margin-top: 5%;
}
.myInfo{
  position: static;
  padding-top: 5%;
  overflow: hidden;
  float: none !important;
}
.myInfo h3{
  font-family: NSB;
}
.myInfo p{
  text-align: center;
  width: 50%;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}
.skills1{
  width: 100%;
  display: block;
  position: static !important;
  margin-top: 10%;
  text-align: center;
}

@media screen and (max-width: 1200px){
  .markTwain img{
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .myInfo p{
    width: 100%;
  }
}
@media screen and (max-width: 960px){
  .left-side{
    display: none;
  }
  .right-side{
    left: 0;
  }
  .mainpage{
    width: 100vw;
    padding-right: 0;
  }
  .tpbody{
    height: 30vh;
  }
  .bodyinner{
    margin-left: 5%;
    margin-right: 5%;
  }
  #fontimg{
    display: block;
  }
  .markTwain img{
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .indexPage{
    top: 3%;
    font-size: 15px;
  }
  .myimg img{
    width: 70%;
  }
  .myInfo{
    margin-top: 5%;
  }
  .myInfo li{
    font-size: 15px;
  }
}
@media screen and (max-width: 768px){
  .tpbody{
    height: 25vh;
  }
  #fontimg{
    display: block;
  }
  .bodypage{
    margin-top: 30px;
  }
  .bodyinner{
    padding: 0 20px;
    margin-left: 0;
    margin-right: 0;
    background: #FFF;
    text-align: center;
  }
  .indexPage{
    top: 1.5%;
    font-size: 13.5px;
  }
  .indexPage h2{
    font-size: 25px;
  }
  .myInt h2{
    font-size: 25px;
  }
  .interest h2{
    font-size: 25px;
  }
  .interest h3{
    font-size: 20px;
  }
  .skills h2{
    font-size: 25px;
  }
  .contacts h2{
    font-size: 25px;
  }
  .myInfo{
    margin-top: 5%;
  }
  .myInfo li{
    font-size: 13px;
  }
  .myInfo h3{
    font-size: 20px;
  }
  .workBoard h2{
    font-size: 25px;
  }
}
@media screen and (max-width: 480px){
  .mottoLetter p{
    font-size: 15px;
  }
  .indexPage h2{
    font-size: 20px;
  }
  .myInt h2{
    font-size: 20px;
  }
  .interest h2{
    font-size: 20px;
  }
  .interest h3{
    font-size: 18px;
  }
  .skills h2{
    font-size: 20px;
  }
  .contacts h2{
    font-size: 20px;
  }
  .indexPage{
    top: 1.5%;
    font-size: 12px;
  }
  .myInt{
    margin-top: 10%;
  }
  .myInt h3{
    font-size: 15px !important;
  }
  .myInfo{
    margin-top: 10%;
  }
  .myInfo h3{
    font-size: 15px;
  }
  .myInfo li{
    font-size: 12px;
  }
  .workBoard h2{
    font-size: 20px;
  }
}
