* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-family: sans-serif;
}
html, body,
.container,
.cbp-fbscroller,
.cbp-fbscroller section {
   height: 100%;
   width: 100%;
   background-color: #FAFAFA;
}
.navbar{
   visibility: hidden;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   margin: 0;
}
.cbp-fbscroller > nav {
   position: fixed;
   z-index: 9999;
   right: 100px;
   top: 50%;
   width: 26px;
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}

.cbp-fbscroller > nav a {
   display: block;
   position: relative;
   z-index: 9999;
   color: transparent;
   width: 26px;
   height: 26px;
   outline: none;
   margin: 25px 0;
   border-radius: 50%;
   border: 4px solid #000;
}

.cbp-fbscroller > nav a.cbp-fbcurrent {
   background: #000;
}

/* background-attachment does the trick */
.cbp-fbscroller section {
   position: relative;
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;
}
.cbp-fbscroller section {
   background-attachment: fixed;
}

#fbsection1 {

}

#fbsection2 {

}

#fbsection3 {

}

#fbsection4 {

}

#fbsection5 {

}
.backGround1{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.mainfonts1{
   height: 100%;
}
.mainfonts1 img{
      margin-top: 5%;
      margin-left: 5%;
      width: 45%;
      -webkit-transition-property: width;
      -webkit-transition-duration: .3s;
   }
.mainfonts1 img.enlargement { width: 50%; }
.mainfonts2{
   position: absolute;
   width: 50%;
   height: 40%;
   left: 50%;
   margin-right: 0;
   bottom: 0;
}
.mainfonts3{
   position: absolute;
   width: 50%;
   height: 20%;
   left: 50%;
   bottom: 2%;
   z-index: 999;
}
#mark1{
   font-family: goBoldLight;
   font-size: 20px;
   color: #4C4C4C;
   position: absolute;
   top: 30%;
   letter-spacing: 2pt;
}
#mark2{
   font-family: goBoldLight;
   font-size: 14px;
   color: #707070;
   position: absolute;
   top: 50%;
   letter-spacing: 1pt;
}
#mainhided{
   display: none;
}
.backGround2{
   position: relative;
   width: 100%;
   height: 100%;
}
.row{
   height: 100%;
   width: 100%;
   margin: 0;
}
.myImage{

}
.myImage img{
   margin-left: auto;
   margin-right: auto;
   margin-top: 10%;
   display: block;
   width: 80%;
}
.intro{
   top: 20%;
   bottom: 0;
   font-family: bmdohyeon;
   font-size: 15px;
}
.intro h2, h3{
   font-family: bmdohyeon;
}
.intro li{
   font-family: bmdohyeon;
   font-size: 15px;
}
#about{
   margin-top: 10%;
}
.backGround3{
   position: relative;
   width: 100%;
   height: 100%;
}
@media screen and (min-width:1024px) and (max-width: 1200px){
   .mainfonts1 img{
      margin-top: 10%;
      width: 60%;
      margin-left: 7%;
   }
   .mainfonts1 img:after{
      margin-top: -10px;
   }
   #mark1{
      font-size: 15px;
   }
   #mark2{
      top: 40%;
      font-size: 10px;
   }
   .myImage img{
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 80%;
   }
   .intro{
      top: 10%;
   }
   .intro div{
      margin-left: 15%;
      margin-right: 20%;
      display: block;
   }
}
@media screen and (min-width:768px) and (max-width:1024px){
   .mainfonts1 img{
      margin-top: 10%;
      width: 55%;
      margin-left: 7%;
   }
   .mainfonts1 img:after{
      margin-top: -10px;
   }
   #mark1{
      font-size: 12px;
   }
   #mark2{
      font-size: 7px;
   }
   .myImage img{
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 60%;
   }
   .intro{
      top: 0;
   }
   .intro div{
      margin-left: 20%;
      margin-right: 20%;
      display: block;
   }
}
@media screen and (min-width:480px) and (max-width:768px){
   #cbp-fbscroller nav{
      visibility: hidden;
   }
   .navbar{
      visibility: visible;
   }
   .mainfonts1 img{
      margin-top: 10%;
      margin-left: 10%;
      width: 80%;
   }
   .mainfonts1 p:after{
      display: none;
   }
   .mainfonts2 p{
      display: none;
   }
   #mainhided{
      display: block !important;
      font-family: goBoldLight;
      font-size: 25px;
      color: #4C4C4C;
      position: absolute;
      letter-spacing: 2pt;
   }
   .myImage img{
      margin-left: auto;
      margin-right: auto;
      margin-top: 10%;
      display: block;
   }
   .intro{
      top: 0;
   }
   .intro div{
      margin-left: 15%;
      margin-right: 15%;
      display: block;
   }
}
@media screen and (min-width:1px) and (max-width:480px) {
   #cbp-fbscroller nav{
      visibility: hidden;
   }
   .navbar{
      visibility: visible;
   }
   .mainfonts1 img{
      margin-top: 30%;
      width: 90%;
   }
   .mainfonts1 img:after{
      display: none;
   }
   .mainfonts2 p{
      display: none;
   }
   #mainhided{
      display: block !important;
      font-family: goBoldLight;
      font-size: 25px;
      color: #4C4C4C;
      position: absolute;
      letter-spacing: 2pt;
   }
   .myImage img{
      margin-left: auto;
      margin-right: auto;
      margin-top: 20%;
      display: block;
   }
   .intro{
      top: 0;
   }
   .intro div{
      margin-left: 10%;
      margin-right: 10% ;
      display: block;
   }
   .intro h2{
      font-size: 15px;
   }
   .intro h3{
      font-size: 10px;
   }
   .intro li{
      font-family: bmdohyeon;
      font-size: 9px;
   }
   #about{
     margin-top: 5%;
   }
   .interest{
     margin-top: 30%;
   }
   .interest h1{
     font-size: 15px;
     margin-bottom: 10%;
   }
   .interest h3{
     font-size: 10px;
   }
   .interest p{
     font-size: 9px;
   }

}
